<script type="text/javascript">
  window.userId = "<%= current_user.id %>";
  window.loginUrl = "<%= new_user_session_path %>";
  window.logoutUrl = "<%= destroy_user_session_path %>";
  <% if current_user.is_admin %>
  window.isAdmin = true;
  <% end %>
</script>
<div id="app"></div>
<script src=/users/chunk-vendors.js></script>
<script src=/users/app.js></script>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(() => {
  $.ajax({
    url: '/api/users',
  }).then(() => {
    $.ajax({
      type: 'PUT',
      url: '/api/users/1',
  		data: JSON.stringify({ nickname: 'abc' }),
      contentType: 'application/json',
      dataType: 'json',
    })
  })
})
</script>