<script type="text/javascript">
  window.userId = "<%= current_user.id %>";
  window.loginUrl = "<%= new_user_session_path %>";
  window.logoutUrl = "<%= destroy_user_session_path %>";
</script>
<% if current_user.is_admin %>
  <div id="app"></div>
  <script src=/admin/chunk-vendors.js></script>
  <script src=/admin/app.js></script>
<% end %>
